
<div class="row">
    <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center">
        <div class="w3-theme-indigo jumbotron d-flex justify-content-center" (click)='navigateToCredcoopCreate()'>
            <h4 class="m-0">CADASTRO CREDCOOP</h4>
        </div>
    </div>
    <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center">
        <div class="jumbotron d-flex justify-content-center" (click)='navigateToCredcoopCreate()'>
            <h4 class="m-0">Cadastro Credcoop</h4>
        </div>
    </div>    
</div>
   