<div class="container">
	<div class="row">
			<div class="col-2">
					<div class="form-goup">
							<label for="cep">CEP</label>
							<input type="text" class="form-control" id=cep placeholder="00000-000">
					</div>
			</div>
			<div class="col-2">
				<div class="form-goup mt-4">
					<button class="btn btn-primary" type="button">Buscar</button>
				</div>
			</div>
	</div>
</div>

<div class="container">
	<div class="row">
			<div class="col-4">
					<div class="form-goup">
							<label for="logradouro">Logradouro</label>
							<input type="text" class="form-control" id=logradouro placeholder="Logradouro">
					</div>
			</div>
			<div class="col-4">
					<div class="form-goup">
							<label for="numero">Numero</label>
							<input type="text" class="form-control" id=numero placeholder="Numero">
					</div>
			</div>
			<div class="col-4">
					<div class="form-goup">
							<label for="complemento">Complemento</label>
							<input type="text" class="form-control" id=complemento placeholder="Complemento">
					</div>
			</div>
			<div class="col-4">
					<div class="form-goup">
							<label for="cidade">Cidade</label>
							<input type="text" class="form-control" id=cidade placeholder="Cidade">
					</div>
			</div>
			<div class="col-4">
					<div class="form-goup">
							<label for="bairro">Bairro</label>
							<input type="text" class="form-control" id=bairro placeholder="Bairro">
					</div>
			</div>
			<div class="col-4">
					<div class="form-goup">
							<label for="estado">Estado</label>
							<input type="text" class="form-control" id=estado placeholder="Estado">
					</div>
			</div>
			
	</div>
</div>



