.jumbotron {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.9);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.9);
    color: #ecfdeb;
    width: 100%;
    border-radius: 0px;
    padding: 48px 0px;
    margin-bottom: 0;
    background: linear-gradient(90deg, #00255c 0%, #004066 100%);
}

.jumbotron:hover {
    box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.9);
    -webkit-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.9);
    -moz-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.9);
    cursor: pointer;    
    transform: scale(1.03);
    background: linear-gradient(90deg, #004066 0%, #256274 100%);
}