mat-form-field {
    margin: 10px 15px 0px 0px; 
    width: 100%;   
}
input {
    font-size: 12px;    
}
button {
    margin: 20px 15px 0px 0px;    
}
.mat-card{    
    height: 410px;
    overflow: auto;
}
mat-card-title {
    background-color: rgb(233, 233, 233);
    padding: 5px;
}

