/* form {    
    display: flex;        
} */

mat-form-field {
    margin: 10px 15px 0px 0px; 
    width: 100%;   
}

input {
    font-size: 12px;    
}

button {
    margin: 20px 15px 0px 0px;    
}

div.positiva{    
    position: absolute;    
    margin-left: 750px;
    margin-top: -85px;    
}

.mat-card{
    position: fixed;
    height: 380px;
    overflow: auto;
}

