.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 40px;    
}

/* estudar com '>' afeta o style */
.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}
