mat-form-field {
    margin: 10px 15px 0px 0px; 
    width: 100%;   
}
input {
    font-size: 12px;    
}
button {
    margin: 20px 15px 0px 0px;
    background-color: #004066;
    color: #ecfdeb;
}
.mat-card{
    overflow: auto;  
}
mat-card-title {
    background: #75848780;
    color: #000000;
    padding: 5px;
    margin-top: 5px; 
}

.close-button {
    color:black;
    background-color: rgb(255, 255, 255);
}

.save-form {       
    display: flex;
    justify-content: flex-end;        
}