.sidenav {
    background-color:#00255c;
    width: 200px;
}

.sidenav a {
    color: #ecfdeb;
}
mat-nav-list a:hover {
    color: #ae9e9e;
    background-color:#004066;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #ebf5fd;
}

.color1 {color: #00255c;}
.color2 {color: #004066;}
.color3 {color: #256274;}
.color4 {color: #758487;}
.color5 {color: #ae9e9e;}